body {
    padding-top: 50px; /* Padding for .navbar-fixed-top. Change value if navbar height changes. Remove if using .navbar-static-top. */
}

.portfolio-item {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
	text-align: center;
    background-color: lightskyblue;
}

.footer-blurb h3 {
    color: midnightblue;
    }
    
.footer-blurb-item {
    padding: 30px 0;
    }
 
.copyright {
	background-color: #fff;
	text-align: center;
	padding: 30px 0;
}

/**/

label.btn span {
    font-size: 1.5em ;
  }
  
  label input[type="radio"] ~ i.fa.fa-circle-o{
      color: #c8c8c8;    display: inline;
  }
  label input[type="radio"] ~ i.fa.fa-dot-circle-o{
      display: none;
  }
  label input[type="radio"]:checked ~ i.fa.fa-circle-o{
      display: none;
  }
  label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
      color: #7AA3CC;    display: inline;
  }
  label:hover input[type="radio"] ~ i.fa {
  color: #7AA3CC;
  }
  
  label input[type="checkbox"] ~ i.fa.fa-square-o{
      color: #c8c8c8;    display: inline;
  }
  label input[type="checkbox"] ~ i.fa.fa-check-square-o{
      display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
      display: none;
  }
  label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
      color: #7AA3CC;    display: inline;
  }
  label:hover input[type="checkbox"] ~ i.fa {
  color: #7AA3CC;
  }
  
  div[data-toggle="buttons"] label.active{
      color: #7AA3CC;
  }
  
  div[data-toggle="buttons"] label {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 2em;
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  cursor: pointer;
  background-color: none;
  border: 0px solid 
  #c8c8c8;
  border-radius: 3px;
  color: #c8c8c8;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  }
  
  div[data-toggle="buttons"] label:hover {
  color: #7AA3CC;
  }
  
  div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
  -webkit-box-shadow: none;
  box-shadow: none;
  }
  
  
  